.frontbanner {
  opacity: 1;
  text-align: center;
  object-fit: fill;
}

.frontbanner .container {
  // background-color: rgba(0,0,0,.4); 
  display: flex; 
  align-items: center;
  // width: 50%;
  // padding: 0.5em 0 0.5em 0;
}

.avatar-circle {
  border-radius: 50%;
  // border-radius: 0%;
}

@media screen and (min-width: 768px) {
  .frontblock {
    margin: auto;
    width: 68%;
  }
}

/*************************************************
 *  Navigtation bar
 **************************************************/

.navbar {
  font-size: 15px;
}

/*************************************************
 *  Cards
 **************************************************/

.card {
  padding-top: 1.5rem;
}
.card .img-responsive {
  width: 20rem;
  height: auto;
  object-fit: cover;
}
.card .card-text {
  padding: 0.75rem 0.75rem;
}
.card .card-text .title{
  padding-top: 0.5rem;
  text-align: center;
}

.card .card-text .title{
  padding-top: 0.5rem;
  text-align: center;
  color: black; /* Ensure the link itself has the correct color */
}
.card .card-text .title a {
  color: black; /* Ensure the link itself has the correct color */
}

.card .card-image.hover-overlay::before {
  opacity: 0;
}
.card .card-image.hover-overlay::after {
  content: ' ';
}
.card:hover .card-image.hover-overlay::before {
  opacity: 0;
}
.card:hover .card-image.hover-overlay::after {
  opacity: 0;
}

/*************************************************
 *  Projects
 **************************************************/

// .project-card {
//   position: relative;
//   width: calc(
//     33.3% - 13.3px
//   ); /* Fluid 3 columns ($gutter * ($number_of_cols - 1) / $number_of_cols; following https://stackoverflow.com/a/51290967) */
// }

// .project-card {
//   position: relative;
//   width: calc(
//     25% - 7.5px /* 4 columns */
//   );
// }

@media screen and (min-width: 768px) {
  .project-card {
    position: relative;
    width: calc(
      50% - 10px /* 2 columns */
    );
  }
}