.frontbanner {
  opacity: 1;
  // width: 100%;
  // height: auto;
  text-align: center;
  object-fit: fill;
}

// .frontbanner-div {
//   background-color: rgba(0,0,0,.5); 
//   color: #fff;
// }


.home-section > .content {
  width: 45em;
  max-width: calc(100% - 4em);
  margin: 0 auto;
}

.avatar-circle {
  border-radius: 50%;
  // border-radius: 0%;
}
