.frontbanner {
  opacity: 1;
  text-align: center;
  object-fit: fill;
}

.frontbanner .container {
  background-color: rgba(0,0,0,.6); 
  display: flex; 
  align-items: center;
  // width: 57%;
  // height: 20vh;
  width: 50em;
  height: 20em;
}

.frontbanner .section-heading {
  font-size: 5px;
}

.avatar-circle {
  border-radius: 50%;
  // border-radius: 0%;
}
